#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout0 {
        compatible = "zmk,physical-layout";
        display-name = "Clacken Layout";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs     100     100       0      92   (-500)      0      92 >
            , <&key_physical_attrs     100     100     121      33       0     121      33 >
            , <&key_physical_attrs     100     100     221       0       0     221       0 >
            , <&key_physical_attrs     100     100     321      38       0     321      38 >
            , <&key_physical_attrs     100     100     421      50       0     421      50 >
            , <&key_physical_attrs     100     100    1052      50       0    1052      50 >
            , <&key_physical_attrs     100     100    1152      38       0    1152      38 >
            , <&key_physical_attrs     100     100    1252       0       0    1252       0 >
            , <&key_physical_attrs     100     100    1352      33       0    1352      33 >
            , <&key_physical_attrs     100     100    1474      92     500    1474      92 >
            , <&key_physical_attrs     100     100       8     192   (-500)      8     192 >
            , <&key_physical_attrs     100     100     121     133       0     121     133 >
            , <&key_physical_attrs     100     100     221     100       0     221     100 >
            , <&key_physical_attrs     100     100     321     138       0     321     138 >
            , <&key_physical_attrs     100     100     421     150       0     421     150 >
            , <&key_physical_attrs     100     100    1052     150       0    1052     150 >
            , <&key_physical_attrs     100     100    1152     138       0    1152     138 >
            , <&key_physical_attrs     100     100    1252     100       0    1252     100 >
            , <&key_physical_attrs     100     100    1352     133       0    1352     133 >
            , <&key_physical_attrs     100     100    1465     192     500    1465     192 >
            , <&key_physical_attrs     100     100      17     291   (-500)     17     291 >
            , <&key_physical_attrs     100     100     121     233       0     121     233 >
            , <&key_physical_attrs     100     100     221     200       0     221     200 >
            , <&key_physical_attrs     100     100     321     238       0     321     238 >
            , <&key_physical_attrs     100     100     421     250       0     421     250 >
            , <&key_physical_attrs     100     100    1052     250       0    1052     250 >
            , <&key_physical_attrs     100     100    1152     238       0    1152     238 >
            , <&key_physical_attrs     100     100    1252     200       0    1252     200 >
            , <&key_physical_attrs     100     100    1352     233       0    1352     233 >
            , <&key_physical_attrs     100     100    1456     291     500    1456     291 >
            , <&key_physical_attrs     100     100     382     355       0     382     355 >
            , <&key_physical_attrs     100     100     494     369    1450     494     369 >
            , <&key_physical_attrs     100     100     598     411    2900     598     411 >
            , <&key_physical_attrs     100     100     876     411  (-2900)    876     411 >
            , <&key_physical_attrs     100     100     980     369  (-1450)    980     369 >
            , <&key_physical_attrs     100     100    1091     355       0    1091     355 >
            ;
    };
};
